@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  background-color: var(--white-dark);
}

input, button {
  outline: none;
}

.login-form-input {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;
  transition: all 0.3s ease-in;
  margin-bottom: 1rem;
}

:root {
  --white-dark: #f5f5f5;
}
